<div id='data__holder'>
	<div class='header_holder' id='header__holder'>
		<div class='header__categories'>
			{{#each tags}}
			<div class='category' id='tag_{{this.id}}'>{{this.name}}</div>
			{{/each}}
			<div>
				<div class='category' id='more-tags-btn'>Еще</div>
				<div id="myDropdown" class="dropdown-content">
					{{#each allTags}}
						<a id='dropdown_tag_{{this.id}}'>{{this.name}}</a>
					{{/each}}
  				</div>
			</div>
			

		</div>
		<h2 class='header__default cardlist__header__main'>
			Лучшие достопримечательности
			{{name}}
		</h2>
	</div>

	<div class='card_grid_wrapper'>
		<div class='card__grid card__grid__3' id='card-grid-wrapper'></div>
	</div>

</div>