<div id='substrate'>
	<div id='popup'>
		<div id='closeLine'>
			<button class='btnHead' id='btnClose'>
				<img src='image/020-close.png' class='cross' />
			</button>
		</div>
		<form method='post' class='{{cssClass}}' id='{{formId}}'>
			<h2 class='formName'>{{formName}}</h2>
			<p id='formErrorBlock' class='formErrorBlock'>ошибок нет</p>
			{{#each inputs}}
				<input type='{{type}}' id='{{id}}' placeholder='{{name}}' class='startInput' />
			{{/each}}
			<button id='{{button.id}}' class='{{button.cssClass}}'>{{button.text}}</button>
		</form>
	</div>
</div>
