<h2>Отзывы других путешественников</h2>
{{#each reviews}}
	<div class='frame'>
	<p class='header-review'>{{this.title}}</p>
		<p>✦ {{this.rating}}</p>
		<p>{{this.text}}</p>
		{{#if this.owner}}
			<button id="delete_button_{{this.id}}" class='usual_button_light usual_button'>
				Ваш отзыв. Можете удалить
			</button>
		{{else}}
		<p>{{this.user_id}}</p>
		{{/if}}
	</div>
{{/each}}