<div class='sight_page'>
	<div class='sight_page__left_col'>

		<div id="sight_page__left_col__info" class="frame sight_page__left_col__info">
			<h2>{{name}}</h2>
			<div class="sight_page__left_col__info__place_view">
				<img src='{{placeIcon}}'>
				<p class="sight_page__left_col__info__country">{{country}}</p>
			</div>

			<div class="rating tag__holder">
				<!--				сложная верстка дробного значения рейтинга-->
				<span class="span__font__large span__font__large-green">✦</span><span class='rating__text'>{{rating}}</span>
			</div>

			<div class="tag__holder">
				{{#each tags}}
					<div class="tag card__tag card__tag__font" id="tag_{{this.name}}_{{this.sightPP}}">
						{{this.name}}
						{{#if @last}}
						{{else}}
							<span class="span__font__large span__font__large-blue">•</span>
						{{/if}}
					</div>
				{{/each}}
			</div>

		</div>

		<div id="sight_page__review_form_place" class="sight_page__left_col__review_form_place frame">
			<p>Войдите, чтобы оставить отзыв</p>
		</div>

		<div id="reviews__content" class="sight_page__reviews_place">
			<p style="text-align: center;">✦ Здесь будут отзывы ✦</p>
		</div>

	</div>

	<div class='sight_page__right_col'>
<!--		<div class="frame sight_page__left_col__description">-->

<!--			<p class="sight_page__left_col__description__title">О месте</p>-->
<!--			<p>{{description}}</p>-->
<!--		</div>-->

		{{#each photos}}
			<div id="sight_page__photo_holder_place" class="sight_page__photo_holder_place">
				<img src='{{this}}' alt='photo'>
			</div>
		{{/each}}
	</div>

</div>
