<div class='sight_page'>
	<div class='sight_page__left_col'>

		<div id="sight_page__info" class="sight_page__info frame">
			<h2>{{name}}</h2>
			<div class="sight_page__info__place_view">
				<img src='{{placeIcon}}'>
				<p>{{country}}</p>
			</div>
		</div>

		<div id="sight_page__review_form_place" class="sight_page__review_form_place frame">
		</div>

		<div class="frame">
			<p>{{description}}</p>
			{{#each tags}}
				<span>{{tags}} </span>
			{{/each}}
		</div>

	</div>

	<div class='sight_page__right_col'>
		<div id="sight_page__photo_holder_place" class="sight_page__photo_holder_place">
			<img src='{{testPhoto}}'>
		</div>
		<div id="sight_page__reviews_place" class="sight_page__reviews_place">
		</div>
	</div>

</div>
