<div class='header__wrapper'>
<div class='header__logo' id='logo-h'>
		<img src="{{logo}}" class="header__logo__img"/>
		<h2 class="header__logo__text">TripAdvisor</h2>
	</div>
	{{#if isUser}}
	<div class='header__button' id='user-block'>

			<div class="circle-img">
				<img src="{{avatarPath}}"/>
			</div>
			<p>{{name}}</p>
		{{else}}
			<p>{{btnText}}</p>
	</div>
	{{/if}}
</div>