<div class='frame'>
<form id="trip_form" class="trip_form">

		<div class="form_form__input_holder">
			<div class='label-div'>
				<label for="title">Название поездки</label>
			</div>
			<input type="text" id="title" name="title" class="form__input" value="{{title}}"/>
		</div>

	<div class="trip_form__input_holder">
		<div class='label-div'>
			<label for="comment_text">Информация о поездке</label>
		</div>
		<div class="trip_form__input_holder__text">
			<div class="comment_text_hidden">
				<div class="textarea_behavior" id="comment_text_hidden">
				</div>
			</div>
			<textarea class="textarea_behavior" rows="3" id="comment_text">{{description}}</textarea>
		</div>
	</div>

	<div class="error_block" id="error_block">
		<p class="error_block__text">Ошибка. Обязательны название поездки и хотя бы одно место, которое вы собираетесь посетить</p>
	</div>
	{{#if isNotNew}}
	{{else}}
		<div class='label-div'>
			<label for="country_select">Прежде чем продолжить, пожалуйста, выберите хотя бы одно место, которое хотите посетить:</label>
		</div>
	{{/if}}

	<div class="trip_form__horizontal_holder">
		<div class="select_string">
			<div id="country_select_container">
				<label for="country_select"></label>
				<select form="trip_form" id="country_select">
					<option>Выберите страну</option>
					{{#each countries}}
						<option>{{ this.name }}</option>
					{{/each}}
				</select>
			</div>

			<div id="sight_select_container" class="trip_form__horizontal_holder">
			</div>

			<div id="button_select_container" class='trip_form__horizontal_holder'>
				<button class="usual_button_dark usual_button" id="button_select">
	{{#if isNotNew}}
		Добавить
	{{else}}
		Создать
	{{/if}}
				</button>
			</div>

		</div>
	</div>


{{#if isNotNew}}
	<div class="trip_form__horizontal_holder buttons_holder">
		<button type="submit" id="trip_submit" class="usual_button usual_button_light">Сохранить</button>
		<button class="usual_button usual_button_light">Закончить редактирование</button>
	</div>
</form>
{{/if}}
</div>

<div id="trip_cards_holder"></div>

{{#if isNotNew}}

<div class="trip_form__horizontal_holder ">
	<div>
		<button id="ask_confirm_button" class="usual_button usual_button_light">Удалить поездку</button>
	</div>
	<div class="form_review__submit_holder__answer" id="form__submit_holder__answer">
		<p class="form_review__submit_holder__answer__text" >Вы уверены?</p>
		<button id="delete_button" class="usual_button usual_button_light">Да</button>
	</div>
</div>

{{/if}}
