	{{#each sights}}
		{{#each this}}
			<div class='frame'>
				<h2 id="go_button_{{ this.sight.id }}_{{this.PP}}">{{ this.sight.name }}</h2>
				<img src="{{this.preview}}">
				<p>✦ {{ this.sight.rating }}</p>

				<div class="tag__holder">
					{{#each this.sight.tags}}
						<div class="tag card__tag card__tag__font" id='tag_{{this.name}}_{{this.sightPP}}'>
							{{this.name}}
							{{#if @last}}
							{{else}}

								<span class="span__font__large span__font__large-blue">•</span>
							{{/if}}
						</div>
					{{/each}}
				</div>

			<p style='visibility: hidden'>no</p>
			<button
				id="delete_button_{{ this.sight.id }}"
				class='usual_button_light usual_button delite_btn pp_{{ this.PP }}'>Удалить</button>

			</div>
		{{/each}}
	{{/each}}